<div class="section" id="extra-curicular">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Student Activities</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                <i class="fa fa-users" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
              <div class="row customRow">
                  <div class="card col-lg-10 col-md-12 customCard">
                      <ul class="orderdActivities">
                          <li class="orderLi">
                              <b>Secretary of Main Executive Committee | IEEE - VBIT Student Branch</b><br>
                              <i>May 2019 - June 2020</i>
                              <ul>
                                  <li>Organized and managed committee meetings, ensuring efficient communication and decision-making processes.</li>
                                  <li>Facilitated event planning and execution, leading to a 20% increase in member engagement during my tenure.</li>
                              </ul>
                          </li>
                        
                      </ul>
                  </div>
                  <div class="card col-lg-10 col-md-12 customCard">
                    <ul class="orderdActivities">
                        <li class="orderLi">
                            <b>Secretary of Communications Society | IEEE - VBIT Student Branch </b><br>
                            <i>May 2018 - April 2019</i>
                            <ul>
                                <li>Coordinated communication efforts, resulting in a 15% growth in the society's social media handles.</li>
                                <li>Collaborated with members to organize seminars and workshops, fostering a knowledge-sharing environment.</li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="card col-lg-10 col-md-12 customCard">
                  <ul class="orderdActivities">
                      <li class="orderLiLast">
                          <b>Documentation & Web Coordinator for “Avishkar 2K17” | IEEE - VBIT SB </b><br>
                          <i>Nov 2017 - Apr 2018</i>
                          <ul>
                              <li>Developed and maintained event documentation, ensuring clarity and accessibility of details for participants.</li>
                              <li>Managed the event website, increasing visitor engagement by 25% through user-friendly design improvements.</li>
                          </ul>
                      </li>
                  </ul>
              </div>
              </div>
          </div>
      </div>
  </div>
  
  </div>
</div>
