.horizontalHrDiv
{
    justify-content: center;
    display: flex;
}
.horizontalHrDivLine
{
  width: 100px;
  height: 4px;
  background: #AB9089 !important;
  border-radius: 25px;
  text-align: center;
}