<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('assets/images/contact.png');background-size: cover;background-repeat: no-repeat;">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center mt-3 title">
                                <span class="titleIntro">
                                    Get in Touch
                                </span> <div class="horizontalHrDiv">
                                <span class="horizontalHrDivLine"></span>
                                </div>
                              </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="p pb-3">
                                            <p>If you are considering a potential collaboration, have any inquiries, or wish to discuss job opportunities, I welcome the opportunity to connect with you.
                                                
                                            </p>
                                                <p>Your interest is important, and I am open to discussing how we can work together to achieve mutual goals. </p><b>Please feel free to reach out with the contact details below:</b>
                                        </div>
                                        <div class="contact-item mb-2">
                                            <i class="fa fa-phone"></i>
                                            <strong> Phone:</strong>
                                            <p>+1 334-840-6965</p>
                                        </div>
                                        <div class="contact-item">
                                            <i class="fa fa-envelope"></i>
                                            <strong> Email:</strong>
                                            <p>sowndaryanookala3104@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
