<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">
                <span class="titleIntro">
                  Career Objective
                </span> <div class="horizontalHrDiv1">
                <span class="horizontalHrDivLine1"></span>
                </div>
              </div>
              
              <div>
                <p>{{about1}}</p>
              </div>
               
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">
                <span class="titleIntro">
                  About
                </span> <div class="horizontalHrDiv2">
                <span class="horizontalHrDivLine2"></span>
                </div>
              </div>
              <div>
                <ul>
                  <li *ngFor="let m of about2 | split">{{m}}</li>
                </ul>
              </div>
               
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">
                <span class="titleIntro">
                  Basic Information
                </span> <div class="horizontalHrDiv3">
                <span class="horizontalHrDivLine3"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">January 31, 1999</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">sowndaryanookala3104@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1 334-840-6965</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">495 S Milledge Ave, Athens, GA
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English, Telugu, Hindi</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">
                <span class="titleIntro">
                  Personal Skills
                </span> <div class="horizontalHrDiv4">
                <span class="horizontalHrDivLine4"></span>
                </div>
              </div>
              <ul>
                <li>Substantial communication and networking skills.</li>
                <li>Ability to simplify complex concepts, creating an engaging and supportive learning environment.</li>
                <li>The ability to multi-task and solve problems analytically.</li>
                <li>The ability to work under pressure and invest efforts in learning new skills.</li>
            </ul>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>