<div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="row marB25">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="h4 text-center mb-4 title">Achievements</div>
              <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                      <i class="fa fa-trophy" aria-hidden="true"></i>
                    </a>
                  </li>
      
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-5">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
            <div class="row customRow">
              <div class="card col-lg-10 col-md-12 customCard">
                <ul class="orderdActivities">
                  <li>The project idea “Prediction of Antimicrobial Resistance using Machine Learning” was selected as one of the project ideas to be presented at the Asia Pacific Maker Fair Competition, IEEE YESIST-12.</li>
                  <li>Certificate of merit for securing first position in “INCEPTRA”, a technical project competition conducted by IEEE - VBIT SB on 12th October 2018.</li>
                  <li>Rewarded with cash prize for outstanding contribution and participation in “Science Fair” competition conducted by Government of Andhra Pradesh.</li>
                  <li>Awarded with “Speed Maths” title for outstanding performance in Speed maths Contest.</li>                  
                </ul>
            </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>