<div class="section" id="education">
    <div class="container cc-education">
      <div class="row marB25">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Education</div>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </a>
              </li>
  
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>January 2023 - December 2024</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Computer Science</div>
               <h4 class="category">University of Georgia, Athens
               </h4>
               <ul>
                <li><b>GPA : </b>3.88 / 4.0</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>August 2016 - October 2020</p>
              <div class="h5">Bachelor's of Technology</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Computer Science Engineering</div>
               <h4 class="category">Vignana Bharathi Institute of Technology </h4>
               <ul>
                <li><b>GPA : </b>8.75 / 10</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>June 2014- May 2016</p>
              <div class="h5">High School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Mathematics, Physics and Chemistry</div>
               <h4 class="category">Sri Chaitanya Junior Kalashala
               </h4>
               <ul>
                <li><b>Percentage : </b>97.8%</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>June 2002 - May 2014</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Mathematics, Physics and Chemistry</div>
               <h4 class="category">Sri Chaitanya Junior Kalashala
               </h4>
               <ul>
                <li><b>Percentage :</b>97.8%</li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>